@charset "UTF-8";

body {
	font-family: 'Nanum Gothic', sans-serif;
}

textarea {
	width: 100%;
}

ul{
	padding-left: 10px;
}

a {
	color: #343a40;
}

#headerNav {
	height: 100px;
	background-color: #FC766A;
}

#headerNav a {
	color: #2B5E6A;
	font-weight: bold;
}

#headerNav-title{
	position:relative;
	left: 17%;
}

@font-face { 
	font-family: 'UhBeeHanHUEY'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeHanHUEY.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

#headerNav-title a {
	font-family: UhBeeHanHUEY;
	font-size: 30px;
}

#headerNav-left {
	position:relative;
	left: 18%;
}

#headerNav-right {
	position:relative;
	left: 58%;
}
.page{
	margin-top: 3rem;
	margin-bottom: 3rem;
	max-width: 100%;
}

.footer {
	/* position: fixed; */
	bottom: 0;
 	width: 100%;
	height: 120px;
	background-color: #FC766A;
	color: #2B5E6A;
}

.footer span {
	position:relative;
	top: 20%;
	left: 25%;
	list-style-type: none;
}

.pagination > li > a
{
    border: none;
    background-color: transparent;
    color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #343a40;
}

.pagination > .active > a
{
    color: #343a40 !important;
    background-color: transparent !important;
}

.post-list-title {
	width: 55%;
	text-align: center;
}

.post-list-writer {
	width: 20%;
	text-align: center;
}

.post-list-regDate {
	width: 15%;
	text-align: center;
}

.post-list-views {
	width: 10%;
	text-align: center;
}

.post {
	margin-bottom: 1em;
}

.post-option > label {
	margin-left: 10px;
}

.post-title {
	margin-bottom: 10px;
}

.post-info {
	text-align: right;
	margin-bottom: 10px;	
}

.post-info > span {
	margin-left: 10px;
	margin-right: 10px;
}

.post-info > span > i {
	margin-right: 5px;
}

.post-content {
	margin-bottom: 10px;	
}

.post-button {
	text-align: right;
	margin-bottom: 10px; 
}

.post-button > button {
	margin-left: 5px;
	margin-right: 10px;
}

.post-button-left > button {
	margin-left: 10px;
}

.post-button-right {
	text-align: right;
}

.post-button-right > button{
	margin-right: 10px;
}

.post-search {
	text-align: center;	
	margin-bottom: 1em;
}

.post-search > select,
.post-search > input {
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
}

.box-user {
	position:relative;
	left: 25%;
	max-width: 500px;	
}

.box-user button {
	height: 38px;
	width: 100%;
}

.box-user > button {
	margin-top: 1em;
}

.box-user > h2 {
	text-align: center;
	margin-bottom: 10px;
}

#userMsg{
	height: 50px;
	margin-bottom: 15px;
}

#box-insertUser button {
	width: 100%;
}

#box-login > button {
	width: 48%;
	margin-left: 1%;
}

#box-userInfo {
	position:relative;
	left: 25%;
	max-width: 500px;
}

#box-userInfo input {
	padding-left: 1em;
}

#box-userInfo > button {
	width : 45%;
	margin-top: 1em;
	margin-left: 10px;
	margin-right: 10px;
} 

#box-commentList > hr {
	border: 1px dotted #EEEEEE;
}

.comment-info {
	margin-bottom: 5px;
	margin-right: 10px;
}

.comment-info > strong {
	margin-right: 10px;
}
.comment-info > strong > i, 
.comment-info > span > i {
	margin-right: 5px;
}

.comment-info > .fa-lock,
.comment-info-left > .fa-lock {
	/* color: #6c757d; */
	color: #2B5E6A;
}

.comment-info-left > strong {
	margin-right: 10px;
}

.comment-info-left > i,
.comment-info-left > strong > i,
.comment-info-left > span > i {
	margin-right: 5px;
}

.comment-info-right {
	text-align: right;	
}

.box-update-button {
	text-align: right;	
}
.box-reply-comment {
	/* display: none; */
}

.box-reply-button {
	text-align: right;
}

.box-insert-comment {
	margin-top: 20px;
}

.btn-insert-comment {
	text-align: right;	
}

.comment-insert-button {
	text-align: right;
	margin-right: 10px;
}

.comment-insert-button > .btn {
	margin-left: 10px;
}

.bookmark-list-header {
	white-space: nowrap;
}

.bookmark-list-header > .header-title,
.bookmark-list-header > .header-edit,
.bookmark-list-header > .header-delete {
	white-space: normal;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

.bookmark-list-header > .header-title {
	width: 80%;
}

.bookmark-list-header > .header-edit {
	width: 10%;
}

.bookmark-list-header > .header-delete {
	width: 10%;
}

.bookmark-header-hr {
	border-width: 5px;
}

.box-bookmark {
	white-space: nowrap;
	margin-top: 5px;
	margin-bottom: 5px;
}

.box-bookmark > .bookmark-title, 
.box-bookmark > .bookmark-edit, 
.box-bookmark > .bookmark-delete {
	white-space: normal;
	display: inline-block;
}

.box-bookmark > .bookmark-title {
	width: 80%;
}

.box-bookmark > .bookmark-title > .bookmark-title-a {
	margin-left: 20px;
}

.box-bookmark > .bookmark-title > a > i {
	margin-left: 10px;	
}

.box-bookmark > .bookmark-edit {
	width: 10%;
	text-align: center;
}

.box-bookmark > .bookmark-delete {
	width: 10%;
	text-align: center;
}

.box-bookmark > .bookmark-edit > i:hover,
.box-bookmark > .bookmark-delete > i:hover {
	cursor: pointer !important;
}

.box-update-bookmark > .update-bookmark-title {
	width: 90%;
	margin-right: 1em;
}

.bookmark-hr {
	border-style: dashed;
}

.bookmark-msg {
	text-align: center;
	margin-top: 5em;
	margin-bottom: 5em;
}

.box-search-bookmark {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
}

.box-search-bookmark > .bookmark-keyword,
.box-search-bookmark > .btn-search-bookmark {
	height: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
	